[submodule "admin"]
	path = admin
	url = git@github.com:finkvi/batas-admin.git
[submodule "tg"]
	path = tg
	url = https://github.com/finkvi/batas-tg
[submodule "shop"]
	path = shop
	url = https://github.com/finkvi/batas-shop
